<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
</head>
<body>
    <div>
        <H1>Welcome to our About page</H1>

        <nav>
            <a href="index.html">Home</a>
            <a href="AddTo.html">addTo</a>
            <a href="about.html">about</a>

        </nav>

        <p>I picked different beverages I enjoy. Funnily enough
            I couldn't think of very many beverages I enjoy.
            Anyway Node is pretty coooooool!
        </p>
    </div>

</body>
</html>
