<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
</head>
<body>
    <div>
        <H1>Welcome to our Add to list page</H1>

        <nav>
                <a href="index.html">Home</a>
                <a href="AddTo.html">AddTo</a>
                <a href="about.html">about</a>
    
        </nav>
        <form action="">
            <h2>dad?</h2>
            <input type="Text">
            <h4>Tell me your dad!</h2>
            <input type="submit">

        </form>
    </div>

</body>
</html>
