<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/script.js"></script>
    
</head>
<body>
    <div>
        <H1>Welcome to our Node server</H1>
        <h2>I'm Lemon Pumpkins (Liam Perkins)</h2>
        <nav>
                <a href="index.html">Home</a>
                <a href="AddTo.html">AddTo</a>
                <a href="about.html">about</a>
    
        </nav>
        <hr id = "line">

        <h3>Drinks I like</h3>
        <ol>
            <li>Coffee</li>
            <li>Water</li>
            <li>Flavored Water</li>
            <li>Other stuff</li>
            <li>Yeah</li>
        </ol>
        <img src="images/dog.jpg" alt="dog">
    </div>

</body>
</html>
